.App {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.showPopup {
    align-self: flex-end;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: black;
    cursor: pointer;
}


/* Popup Inside */
.insidePopup {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.insidePopup header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

.insidePopup header h2 {
    font-weight: 300;
}

.insidePopup header h4 {
    font-weight: 400;
    color: rgb(33,114,238);
}

.mainColors > * {
    margin: 20px 0px;
}

.popupButtons {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.popupButtons button {
    margin-top: 40px;
    width: 100px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.popupButtons button:first-child {
    border: 1px solid gray;
    background-color: white;
}

.disable {
    background-color: gray !important;
    cursor: not-allowed !important;

}

.popupButtons .activeSave {
    background-color: #2072EF !important;
    color: white;
}
